{% extends 'videos/base.html'%}
{% block active %}
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subject<span class="caret"></span></a>
    <ul class="dropdown-menu">
      {%if sub%}
      {%for s in sub%}
      <li><a href="{%url 'videos:filter' s.id%}">{{s}}</a></li>
      {%endfor%}
      {%endif%}
    </ul>
</li>
<style>
  .list-group-item{
    display: inline-block;
    padding: 1%;
    margin: 1%;
  }
  video{
    height: 200px;
    width: 300px;
    border: none;
  }
  .container{
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
  }
</style>
{% endblock %}
{% block add%}
<li class=""><a href="{% url 'videos:gen' %}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;Report</a></li>
<li class=""><a href="{% url 'videos:facrated' %}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Rated</a></li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>{{username}}</b><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class=""><a href="{% url 'videos:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout</a></li>
    </ul>
</li>
{% endblock %}
{% block body %}
{%if p%}
<center><h1 style="padding:15%;">{{p}}</h1></center>
{%endif%}
{% if x %}
<div class="container">
<ul class="list-group">
  {% for y in x %}
  {% if y.rating == 0 or y.redo == True %}
 <li class="list-group-item">
   <a href="{%url 'videos:player' y.file_file%}">
   <video width="320" height="240" preload="metadata">
   <source src="{{y.file_file.url}}">
   </video></a>
   <p><b><h4>{{y.video_title}}</h4></b></p>
   <p><h5>uploaded by: {{y.owner}}</h5></p>
   {%if y.redo == True %}<div style="display: block;margin-right:2%; float:right;"><h5 style="color:red; font-size:20px;">Re-do</h5></div>{%endif%}
   <p><h5>Subject: {{y.subject}}</h5></p>
   <p style="float:right;"><h5>Rating: {{y.rating}}</h5></p>
   <p><h5>Uploaded on : {{y.time}}</h5></p>
 </li>
 {%endif%}
 {% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
